.navigation{
    width: 100%;
    background-color: azure;
    padding: 24px 36px;
    border: 2px solid teal;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navigation a{
    color: #000;

    &.active{
        color: teal;
    }
}